name: copy files to server
on: [push]
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup demo
        run: |
          mkdir fold
          touch fold/a.md
          touch fold/b.md
      - name: copy folder to remote
        uses: garygrossgarten/github-action-scp@release
        with:
          local: index.html
          remote: /var/www/html/index.html
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          #password: ${{ secrets.PASSWORD }}
          privateKey: ${{ secrets.PRIVATE_KEY }}
        env:
          CI: true
